<div class="advantages">
    <div class="section-title-container">
        <h2 class="section-title">Почему именно мы?</h2>
    </div>
    <div class="advantages-container">
        <div class="advantage">
            <img src="images/sec.png" alt="Скорость">
            <h3>Скорость</h3>
            <p>Быстрая доставка и подборка запчастей</p>
        </div>
        <div class="advantage">
            <img src="images/team.png?v=2" alt="Ответственная команда">
            <h3>Ответственная команда</h3>
            <p>Наши сотрудники всегда рады вам подсказать в вашей ситуации</p>
        </div>
        <div class="advantage">
            <img src="images/low-cost.png?v=2" alt="Низкая стоимость">
            <h3>Низкая стоимость</h3>
            <p>Стоимость на доставку и цены ниже чем у конкурентов</p>
        </div>
        <div class="advantage">
            <img src="images/adaptation.png?v=3" alt="Адаптация под вас">
            <h3>Адаптация под вас</h3>
            <p>Нам хватит немного времени, чтобы понять что вы хотите</p>
        </div>
        <div class="advantage">
            <img src="images/support.png?v=2" alt="Доработка и поддержка">
            <h3>Доработка и поддержка</h3>
            <p>Всегда рады вернуться к вам и что-то поправить, если вас не устраивает</p>
        </div>
        <div class="advantage">
            <img src="images/reliability.png?v=3" alt="Надежность">
            <h3>Надежность</h3>
            <p>С нами безопасно, ведь у нас работают лучшие специалисты</p>
        </div>
    </div>
</div>
