
<div id="parts" class="parts-categories">
    <div class="section-title-container">
        <h2 class="section-title">Детали в наличии и под заказ</h2>
    </div>
    <div class="parts-categories-grid">
        <a href="/engine" class="category-link">
            <img src="images/plates/engine.png" alt="Двигатели и детали (ДВС)">
            <span>Двигатели и детали (ДВС)</span>
        </a>
        <a href="/cabins" class="category-link">
            <img src="images/plates/cabin.png" alt="Кабины и детали кабин">
            <span>Кабины и детали кабин</span>
        </a>
        <a href="/gearbox" class="category-link">
            <img src="images/plates/gearbox.png" alt="КПП и детали КПП">
            <span>КПП и детали КПП</span>
        </a>
        <a href="/reductors" class="category-link">
            <img src="images/plates/reducer.png?v=2" alt="Редукторы">
            <span>Редукторы</span>
        </a>
        <a href="/exhaust-system" class="category-link">
            <img src="images/plates/exhaust.png" alt="Выхлопная система">
            <span>Выхлопная система</span>
        </a>
        <a href="/optic" class="category-link">
            <img src="images/plates/optics.png" alt="Оптика">
            <span>Оптика</span>
        </a>
        <a href="/bodycar" class="category-link">
            <img src="images/plates/body.png" alt="Кузовные детали">
            <span>Кузовные детали</span>
        </a>
        <a href="/pneumatics" class="category-link">
            <img src="images/plates/pneumatics.png" alt="Пневматика">
            <span>Пневматика</span>
        </a>
        <a href="/pendant" class="category-link">
            <img src="images/plates/suspension.png?v=2" alt="Подвеска">
            <span>Подвеска</span>
        </a>
        <a href="/steering-control" class="category-link">
            <img src="images/plates/steering.png" alt="Рулевое управление">
            <span>Рулевое управление</span>
        </a>
        <a href="/conditioner" class="category-link">
            <img src="images/plates/ac.png" alt="Кондиционирование и отопление">
            <span>Кондиционирование и отопление</span>
        </a>
        <a href="/cooling-system" class="category-link">
            <img src="images/plates/cooling.png" alt="Система охлаждения">
            <span>Система охлаждения</span>
        </a>
        <a href="/fuel-equipment" class="category-link">
            <img src="images/plates/fuel.png" alt="Топливное оборудование">
            <span>Топливное оборудование</span>
        </a>
        <a href="/braking-system" class="category-link">
            <img src="images/plates/brakes.png" alt="Тормозная система">
            <span>Тормозная система</span>
        </a>
        <a href="/transmission" class="category-link">
            <img src="images/plates/transmission.png" alt="Трансмиссия">
            <span>Трансмиссия</span>
        </a>
        <a href="/electric" class="category-link">
            <img src="images/plates/electrics.png" alt="Электрика">
            <span>Электрика</span>
        </a>
    </div>
</div>

