<footer id="footer" class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <a href="#header">
                <img src="images/headerLogo.svg" alt="Логотип" />
            </a>
        </div>

        <div class="footer-content">
            <div class="footer-column">
                <p class="footer-title">СВЯЗАТЬСЯ С НАМИ</p>
                <p class="footer-label">телефон</p>
                <p class="footer-item">+7 (999) 99-99-99</p>
                <p class="footer-label">почта</p>
                <p class="footer-item"><a href="mailto:mail@mail.ru">mail@mail.ru</a></p>
                <p class="footer-label">адрес</p>
                <p class="footer-item"><a href="https://yandex.ru/maps/-/CHRziSzr">г. Санкт-Петербург,<br> Загребский бул., 23, корп. 1</a></p>
            </div>

            <div class="footer-line"></div>

            <div class="footer-column">
                <p class="footer-title">ИНФОРМАЦИЯ</p>
                <a href="#header">О нас</a>
                <a href="#parts">Запчасти</a>
                <a href="#transportation">Грузоперевозки</a>
                <a href="#footer">Контакты</a>
            </div>

            <div class="footer-line"></div>

            <div class="footer-column">
                <p class="footer-title">ПОЛЕЗНЫЕ ССЫЛКИ</p>
                <a href="#">Поддержка</a>
                <a href="#">Договор</a>
                <a href="#">Политика соглашения</a>
            </div>

            <div class="footer-line"></div>

            <div class="footer-column">
                <p class="footer-title">СОЦ. СЕТИ</p>
                <div class="social-icons">
                    <a href="#"><img src="icons/whatsapp.svg" alt="WhatsApp"></a>
                    <a href="#"><img src="icons/telegram.svg" alt="Telegram"></a>
                    <a href="#"><img src="icons/vk.svg" alt="VK"></a>
                </div>
            </div>
            <div class="footer-map">
                <p class="map-title"></p>
                <div class="map-container">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab76c286e13227508fd05fbad167e93ff9a4f2937f3ceb3f1d33a4ba320ca5be2&amp;width=393&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
            </div>
        </div>
    </div>
</footer>
