<header id="header" class="header">
    <div class="header-container">
        <div class="logo">
            <a href="/">
                <img src="images/headerLogo.svg" alt="Логотип" />
            </a>
        </div>

        <nav class="nav-menu">
            <a href="/">О НАС</a>
            <a href="#parts">ЗАПЧАСТИ</a>
            <a href="#truckslist">АВТОРАЗБОР</a>
            <a href="#transportation">ГРУЗОПЕРЕВОЗКИ</a>
            <a href="#footer">КОНТАКТЫ</a>
        </nav>

        <div class="contacts">
            <img src="icons/phone.svg" alt="Телефон" />
            <div class="contact-info">
                <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                <span>с 10:00 до 22:00 (пн-вс)</span>
            </div>
        </div>
    </div>
</header>
