
.advantages-container[b-qo63gulj4h] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}


.advantage[b-qo63gulj4h] {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 250px;
}

    .advantage img[b-qo63gulj4h] {
        height: 150px;
        width: auto;
        object-fit: contain;
        margin-bottom: 25px;
    }

    .advantage h3[b-qo63gulj4h] {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .advantage p[b-qo63gulj4h] {
        font-size: 18px;
        color: #666;
    }

